@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-whiteBase text-darkBase;
  }

  html.dark {
    @apply bg-gradient-to-br from-darkBase to-darkBase-light text-whiteBase;
  }

  body {
    @apply h-full pt-20 md:pt-24 lg:pt-28;
  }

  h1 {
    @apply text-3xl md:text-5xl lg:text-7xl;
  }

  h2 {
    @apply text-1.5xl md:text-3xl lg:text-4xl;
  }
}

@layer components {
  .gradient-border {
    @apply rounded-lg border border-solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      to right,
      theme('colors.accentPrimary.DEFAULT'),
      theme('colors.accentPrimary.darker')
    );

    &:hover,
    &:focus {
      border: 1px solid transparent;
    }
  }
}
