@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --thumb-color-light: linear-gradient(to right, #2091f9, #3048a5);
  --thumb-color-dark: linear-gradient(to right, #f8a401, #d12600);
  --thumb-color-disabled: #959595;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply h-full bg-whiteBase bg-background-light-gradient pt-20 text-darkBase dark:bg-darkBase dark:bg-background-dark-gradient dark:text-whiteBase md:pt-24 lg:pt-28;
  }

  h1 {
    @apply text-balance font-philosopher text-3xl font-bold leading-130 md:text-5xl lg:text-7xl;
  }

  h2 {
    @apply text-center font-philosopher text-1.5xl font-bold leading-130 md:text-3xl lg:text-4xl;
  }
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .swiper-slide-fully-visible.swiper-slide-active {
    margin-right: 0 !important;
  }
}

@media screen and (min-width: 768px) {
  .swiper-slide-visible.swiper-slide-prev,
  .swiper-slide-visible.swiper-slide-next {
    width: 320px !important;
  }

  .swiper-slide-fully-visible.swiper-slide-active {
    width: 436px !important;
    position: relative;
    z-index: 10;
  }
}

@media screen and (min-width: 1440px) {
  .swiper-slide-visible.swiper-slide-prev,
  .swiper-slide-visible.swiper-slide-next {
    width: 334px !important;
  }

  .swiper-slide-fully-visible.swiper-slide-active {
    width: 494px !important;
  }
}

.range-input::-webkit-slider-thumb {
  width: 32px;
  height: 32px;
  background: var(--thumb-color);
  border-radius: 50%;
  margin-top: -12px;
  cursor: pointer;
  -webkit-appearance: none;
}

.range-input::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background: var(--thumb-color);
  margin-top: -12px;
  border-radius: 50%;
  cursor: pointer;
}

.range-input:disabled::-webkit-slider-thumb,
.range-input:disabled::-moz-range-thumb {
  background: var(--thumb-color-disabled);
  cursor: not-allowed;
}
