@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth bg-whiteBase text-darkBase;
  }

  html.dark {
    @apply scroll-smooth bg-gradient-to-br from-darkBase to-darkBase-light text-whiteBase;
  }

  body {
    @apply h-full pt-20 md:pt-24 lg:pt-28;
  }

  h1 {
    @apply text-3xl md:text-5xl lg:text-7xl;
  }

  h2 {
    @apply text-1.5xl md:text-3xl lg:text-4xl;
  }
}

@layer components {
  .gradient-border {
    @apply border;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      to right,
      theme('colors.accentPrimary.DEFAULT'),
      theme('colors.accentPrimary.darker')
    );

    &:hover,
    &:focus {
      border: 1px solid transparent;
    }
    /* these options aren't appropriate to this common type because we must create settings for all cases but this case is an isolated */
  }
}

/*FIXME: альтернативный вариант скролла. применяется глобально по всему проекту. возможность кастомизировать scroll thumb вручную не найдена  */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: rgba(27, 27, 27, 0.75);
}

*::-webkit-scrollbar-thumb {
  position: relative;
  background-color: rgba(149, 149, 149, 1);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #f8a401;
}

*::-webkit-scrollbar-thumb::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
  background-color: blue;
}
